table {
    width: 100%;
    height: 100%;
}

table,
th {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 5px;
}

td {
    padding: 5px;
}

img {
    width: 125px;
}

.tindakan {
    vertical-align: top;
    padding-left: 50px;
}

.deskripsi {
    padding-left: 50px;
}

.bottom-boxes {
    bottom: 0;
    width: 100%;
    text-align: center;
}



.box1 {
    display: inline-block;
    margin-top: -50px;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #000;
    width: 20%;
    /* Add any additional styling as needed */
}

.box2 {
    display: inline-block;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #000;
    width: 30%;
    /* Add any additional styling as needed */
}

.box3 {
    display: inline-block;
    margin-right: 10px;
    margin-top: -9.5px;
    margin-bottom: -15px;
    padding: 10px;
    border: 1px solid #000;
    width: 20%;
    height: 90px;
    /* Add any additional styling as needed */
}

.box4 {
    display: inline-block;
    margin-top: -9.5px;
    margin-bottom: -15px;
    padding: 10px;
    border: 1px solid #000;
    width: 30%;
    height: auto;
    /* Add any additional styling as needed */
}